.social-links {
    display: flex;
    column-gap: 8px;

    margin: 0;
    padding: 0px;

    list-style-type: none;

    .social-link {
        width: 24px;
        height: 24px;

        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .social-link.instagram {
        background-image: url('../assets/images/logo-instagram.svg');
    }

    .social-link.facebook {
        background-image: url('../assets/images/logo-facebook.svg');
    }
}

.noned {
    display: none;
}