.social-links {
  display: flex;
  column-gap: 8px;

  margin: 0;
  padding: 0px;

  list-style-type: none;

  .social-link {
    display: block;

    width: 24px;
    height: 24px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .social-link.instagram {
    background-image: url('../assets/images/logo-instagram.svg');
  }

  .social-link.facebook {
    background-image: url('../assets/images/logo-facebook.svg');
  }

  .social-link-light.instagram {
    background-image: url('../assets/images/logo-instagram_light.svg');
  }

  .social-link-light.facebook {
    background-image: url('../assets/images/logo-facebook_light.svg');
  }
}

.noned {
  display: none;
}

.bottom-up {
  transform: rotate(180deg);
}

.wrapper:has(.header-mobile_opened) {
  height: 100vh;
  overflow: hidden;
}

@mixin header-hidden {
  visibility: hidden;
  opacity: 0;
  margin-top: -9999px;
  margin-left: -9999px;

  transition: opacity 0.3s 0.3s ease-in, visibility 0s 0.6s, margin 0s 0.6s;
}

@mixin header-visible {
  visibility: visible;
  opacity: 1;
  margin-top: 0px;
  margin-left: 0px;

  transition: opacity 0.3s ease-in;
}