.social-links {
  display: flex;
  column-gap: 8px;

  margin: 0;
  padding: 0px;

  list-style-type: none;

  .social-link {
    display: block;
    
    width: 24px;
    height: 24px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .social-link.instagram {
    background-image: url('../assets/images/logo-instagram.svg');
  }

  .social-link.facebook {
    background-image: url('../assets/images/logo-facebook.svg');
  }

  .social-link-light.instagram {
    background-image: url('../assets/images/logo-instagram_light.svg');
  }

  .social-link-light.facebook {
    background-image: url('../assets/images/logo-facebook_light.svg');
  }
}

.noned {
  display: none;
}

.bottom-up {
  transform: rotate(180deg);
}
