$background-main: #FFE8F8;
$background-1: rgb(255, 238, 239);
$background-2: rgb(255, 228, 230);
$text-main: rgb(156, 7, 16);
$text-main-hover: rgb(47, 0, 107);
$text-main-bold: rgba(156, 7, 16, 0.87);
$text-main-bold-hover: #FF53CF;
$text-main-heading: rgba(156, 7, 16, 0.82);
$text-minor: #8C8A8A;
$animation-text: 0.3s;

$primary: #07002a;
$accent: #f1ff00;
$link: #510035;
$primary-hover: #140077;
$background-one-inactive: #f7f5ff;
$background-one-active: #efebff;
$tag-one-positive: #028827;
$tag-one-negative: #aeaeae;
