$background-main: #FFE8F8;
$background-main-1: #FFE1F7;
$text-main: #9C0773;
$text-main-hover: #FF04B9;
$text-main-bold: #E756BE;
$text-main-bold-hover: #FF53CF;
$text-main-heading: #F880D6;
$text-minor: #8C8A8A;
$animation-text: 0.3s;

$primary: #07002a;
$accent: #f1ff00;
$link: #510035;
$primary-hover: #140077;
$background-one-inactive: #f7f5ff;
$background-one-active: #efebff;
$tag-one-positive: #028827;
$tag-one-negative: #aeaeae;
