$primary: #07002a;
$accent: #f1ff00;
$link: #510035;
$primary-hover: #140077;
$background-one-inactive: #f7f5ff;
$background-one-active: #efebff;
$tag-one-positive: #028827;
$tag-one-negative: #aeaeae;
