.footer-main {
    display: grid;
    grid-template-columns: 16px 1fr 16px;

    padding: 150px 0px;

    color: $accent;
    background-color: $primary;

    .footer-main__content {
        grid-column: 2;
    }
    
    // 1616px (320px (product-card width) * 5) + 16px (horizontal margin) * 2
    @media (min-width: 1648px) {
        grid-template-columns: 1fr 1616px 1fr;
    }
}