.footer-main {
  display: grid;
  grid-template-columns: 8px 1fr 8px;

  padding: 38px 0px;

  color: $text-main;

  .footer-main__content {
    grid-column: 2;
  }

  @media (min-width: 325px) {
    grid-template-columns: 25px 1fr 25px;
  }
}

.page_home .footer-main {
  // 1438px = 260px (product-card width) * 5 + 22px (grid column-gap) * 4 + 25px (horizontal margin) * 2
  @media (min-width: 1438px) {
    // 260px (product-card width) * 5 + 22px (grid column-gap) * 4
    grid-template-columns: 1fr 1388px 1fr;
  }
}

.page_product .footer-main {
  // 1440px + 16px * 2
  @media (min-width: 1472px) {
    grid-template-columns: 1fr 1440px 1fr;
  }
}
