#product {
  display: block;

  margin: 0 16px;
  padding: 16px 0px 80px 0px;

  .photos {
    display: none;
  }

  .photos-mobile-container {
    width: 100%;

    .photos-mobile__navigation {
      display: flex;

      column-gap: 8px;
    }

    .photos-mobile__navigation_left, .photos-mobile__navigation_right {
      width: 50px;
      height: 50px;

      background-color: grey;
    }

    .photo-mobile {
      width: 100%;
      
      aspect-ratio: 1.2;

      object-fit: cover;
    }
  }

  .info {
    .info__title {
      margin: 0 0 8px 0;
      font-size: 48px;
      font-weight: 800;

      color: $text-main-heading;
    }

    .info__row {
      display: flex;

      column-gap: 8px;
      margin: 0 0 8px 0;
    }

    .info__price {
      font-weight: 800;
      color: $text-main-bold;
    }

    .info__in-stock {
      color: $tag-one-negative;
      font-weight: 600;

      &.positive {
        color: $tag-one-positive;
      }
    }
  }

  @media (min-width: 325px) {
    margin: 0 25px;
    padding: 16px 0px 80px 0px;
  }

  @media (min-width: 532px) {
    width: 500px;
    margin: 0 auto;
  }

  @media (min-width: 820px) {
    display: grid;
    grid-template-columns: 25px 1fr 25px 1fr 25px;

    width: unset;
    margin: 0;
    padding: 75px 0px 75px 0px;

    .photos {
      grid-column: 1 / 3;

      display: flex;
      flex-direction: column;

      row-gap: 5px;
      margin: 0 0 16px 0;
  
      .photo {
        width: 100%;
        aspect-ratio: 1.2;
  
        object-fit: cover;
      }
    }

    .photos-mobile-container {
      display: none;
    }

    .info {
      grid-column: 4;
      align-self: start;

      display: flex;
      flex-direction: column;
      justify-content: center;

      // 100vh - (75px (header height) + 75px (#product top padding))
      min-height: calc(100vh - 150px);

      position: sticky;
      top: 75px;

      &.single-photo {
        min-height: unset;
        align-self: unset;
      }
    }
  }

  @media (min-width: calc(1440px + 16px * 2)) {
    // 708px = (1440px - 24px (gap between two content columns)) / 2
    grid-template-columns: 1fr 708px 24px 708px 1fr;

    .photos {
      grid-column: 2;

      .photo {
        aspect-ratio: 1.3;
      }
    }
  }
}
