#products {
    display: grid;
    grid-template-columns: 8px 1fr 8px;
    margin: 0 0 100px 0;

    @media (min-width: 325px) {
        grid-template-columns: 16px 1fr 16px;
    }

    // 1616px (320px (product-card width) * 5) + 16px (horizontal margin) * 2
    @media (min-width: 1648px) {
        grid-template-columns: 1fr 1616px 1fr;
    }
}

.products-container {
    grid-column: 2;
    margin: auto;
}

.product-cards {
    grid-column: 2;
    display: grid;

    column-gap: 4px;
    row-gap: 18px;

    margin: 0;
    padding: 0px;

    /* 320px: product-card width; 16px: horizontal margin; 4px: column-gap; */
    @media (min-width: calc(320px * 2 + 16px * 2 + 4px)) {
        grid-template-columns: repeat(2, 320px);
    }
    
    @media (min-width: calc(320px * 3 + 16px * 2 + 4px * 2)) {
        grid-template-columns: repeat(3, 320px);
    }
    
    @media (min-width: calc(320px * 4 + 16px * 2 + 4px * 3)) {
        grid-template-columns: repeat(4, 320px);
    }
    
    @media (min-width: calc(320px * 5 + 16px * 2 + 4px * 4)) {
        grid-template-columns: repeat(5, 320px);
    }
}

.product-card {
    width: 100%;

    padding: 0px;
    margin: 0px;

    list-style-type: none;

    .product-card__photo-container {
        display: block;

        margin: 0 0 10px 0;
    }

    .product-card__photo {
        width: 100%;
        aspect-ratio: 1.38;

        object-fit: cover;
    }

    .product-card__info {
        margin: 0 0 10px 0;

        .product-card__price, .product-card__name {
            display: block;

            margin: 0;
            padding: 0px;
        }

        .product-card__price {
            font-weight: 600;
        }
    }

    &:hover {
        color: $primary-hover;
    }

    @media (min-width: calc(320px + 16px * 2)) {
        width: 320px;

        .product-card__photo {
            aspect-ratio: unset;
            width: 320px;
            height: 230px;
        }
    }
}