.product-container {
  display: grid;

  grid-template-columns: 16px 1fr 16px;

  @media (min-width: calc(16px * 2 + 600px)) {
    grid-template-columns: 1fr 600px 1fr;
  }

  .layout-col-center {
    grid-column: 2;
  }
}

.product-data-form {
  display: flex;
  flex-direction: column;

  // max-width: 600px;

  row-gap: 16px;
  margin: auto;
}

.product-data__row {}

.product-data__row-2 {
  display: flex;
  
  column-gap: 8px;

  .product-data__column {
    flex-grow: 1;
  }
}

.product-data__field-container {
  display: flex;
  flex-direction: column;

  row-gap: 8px;
}

.product-data__checkbox-container {
  display: flex;
  flex-direction: column;

  row-gap: 4px;
}