.form {
  display: grid;

  grid-template-columns: 1fr 1fr;

  column-gap: 8px;
  row-gap: 2px;

  /* grid setup */
  .label,
  .control {
    grid-column: 1;
  }
  .input-text,
  .input-number,
  .input-checkbox {
    grid-column: 2;
  }
  .photos-container,
  .photos,
  .cover-photo {
    grid-column: 1 / 3;
  }

  .label,
  .control {
    justify-self: right;
  }
  .input-text,
  .input-number,
  .input-checkbox {
    justify-self: left;
  }

  .photo > img {
    width: 100%;
  }

  .photo-sortable {
    cursor: pointer;
  }

  @media (min-width: 500px) {
    grid-template-columns: 1fr 0.5fr max-content 0.5fr 1fr 1fr;

    /* grid setup */
    .label,
    .control {
      grid-column: 3;
    }
    .input-text,
    .input-number,
    .input-checkbox {
      grid-column: 4;
    }
    .photos-container,
    .photos,
    .cover-photo {
      grid-column: 2 / 6;
    }

    .photos {
      justify-self: center;
      display: flex;
      flex-wrap: wrap;

      width: 500px;

      column-gap: 8px;
      row-gap: 8px;
    }

    .photo.photo-sortable {
      // (500 (column width) - 8 (photos column-gap)) / 2
      width: 246px;
      height: 246px;

      > img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }
  }

  // 246 (photo width) * 3 + 8 (photos column gap) * 2
  @media (min-width: 1390px) {
    .photos {
      width: 754px;
    }
  }
}
